.faq {
  background-image: url("../../assets/image/faq-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
}

.small-title {
  background-color: #f3f3f5;
  box-shadow: 4px 4px 8px #b2b2b3, -9px -9px 12px #ffffff;
  color: #32b768;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
}

.faqWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.faqCard {
  break-inside: avoid;
  margin: 0px 5px 30px;
  box-shadow: 10px 10px 30px rgb(207 207 208 / 20%),
    -10px -10px 30px rgb(255 255 255 / 90%);
  text-align: left;
}

.faqCard:nth-child(odd) {
  padding-right: calc(50% + 30px);
}
.faqCard:nth-child(even) {
  padding-left: calc(50% + 30px);
  margin-top: -100px;
}

.faq-content {
  border: 1px solid #bfbfbf;
  border-radius: 30px;
  background: linear-gradient(145deg, #e4e4e4, #ffffff);
  position: relative;
}

.faqCard:hover .dot-box::after {
  background-color: red;
}
.faqWrapper::before {
  content: "";
  position: absolute;
  width: 5px;
  height: calc(100% - 30px);
  background-color: #d9dee2;
  right: calc(50% - 1px);
}

.dot-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9dee2;
  left: calc(50% - 11px);
  border-radius: 50%;
}

.dot-box::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #32b768;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 957px) {
  .faqCard:nth-child(odd) {
    padding-right: 0;
  }
  .faqCard:nth-child(odd),
  .faqCard:nth-child(even) {
    padding-left: 37px;
  }
  .dot-box {
    left: 0;
  }
  .faqWrapper::before {
    left: 7px;
  }
  .faqCard:nth-child(even) {
    margin-top: 0px;
  }
}
