.openingTable {
  position: relative;
  padding: 10px;
}

.smallBtn {
  background-color: #f3f3f5;
  box-shadow: 5px 5px 8px #b2b2b3, -9px -9px 12px #ffffff;
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #32b768;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.phoneBtn {
  background-color: #f3f3f5;
  box-shadow: 5px 5px 8px #b2b2b3, -9px -9px 12px #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #32b768;
  border-radius: 50%;
  margin-bottom: 10px;
}

.styleShape1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
.styleShape2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  transform: rotate(90deg);
}
