.btn-delivered {
  background-color: #f3f3f5;
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
  padding: 8px 20px;
  border-radius: 7px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #32b768;
  position: relative;
  overflow: hidden;
}

.quantityInput {
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  height: 50px;
  margin-bottom: 10px;
  padding: 12px 22px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 0 2px 0 rgb(0 0 0 / 10%);
  border: solid 1px #bcc2ce;
  outline: none;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.btn-delivered::after {
  content: "";
  background: #32b768;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.btn-delivered:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.btn-delivered:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
