.registerPart {
}

.register-login {
  width: 100%;
  height: 100vh;
}
.fromGroup input[type="email"],
.fromGroup input[type="password"],
.fromGroup input[type="text"] {
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  height: 50px;
  margin-bottom: 10px;
  padding: 12px 22px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 0 2px 0 rgb(0 0 0 / 10%);
  border: solid 1px #bcc2ce;
  outline: none;
}

.errMessage {
  color: tomato;
}

.btnSignUp {
  border-color: #4f77ff;
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #4f77ff;
  color: white;
  position: relative;
  overflow: hidden !important;
}

.remember {
  background-color: transparent !important;
}

.btnSignUp::after {
  content: "";
  background: #32b768;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.btnSignUp:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.btnSignUp:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
